@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = Herramientas.Idiomas.CogerCadena(Model.idioma, "String1", "ConfirmPassword");
}

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); max-width: 600px; padding: 40px; margin: auto;">
    <div class="texto-info">@ViewData["Title"]</div>

    <hr>

    <div class="row">
        @if (Model.resultado.Succeeded == true)
        {
            <label class="texto-info-entrada">@Herramientas.Idiomas.CogerCadena(Model.idioma, "String2", "ConfirmPassword")</label>
        }
        else
        {
            <label class="texto-info-entrada">@Herramientas.Idiomas.CogerCadena(Model.idioma, "String3", "ConfirmPassword")</label>
        }
    </div>
</div>
