@page "/Buscador"

@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.Razor;
@using pepeizqs_deals_web.Areas.Identity.Data

@inherits Juegos.Juego

@inject UserManager<Usuario> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<input type="text" @oninput="TextoCambia" class="entrada-texto" />

@if (juegos != null)
{
    @if (juegos.Count > 0)
    {
        <div class="buscador-panel">
            @foreach (var juego in juegos)
            {
                <div class="perfil-flexible-centrado perfil-espacio-top">
                    <a class="boton-pequeño" href="/game/@juego.Id">
                        <div class="perfil-flexible-centrado">
                            <div style="width: 12%;">
                                <img src="@juego.Imagenes.Capsule_231x87" style="max-height:100%; max-width:100%;" />
                            </div>

                            <div style="width: 76%; padding-left: 15px; padding-right: 15px;">
                                @juego.Nombre

                                @if (BaseDatos.Usuarios.Buscar.RolDios(UserManager.GetUserName(HttpContextAccessor.HttpContext!.User)) == true)
                                {
                                    <br /> @juego.Id
                                }
                            </div>

                            <div style="width: 12%; text-align: center;">
                                @Herramientas.JuegoFicha.PrecioMinimoActual(juego, true)
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
}

@code {
    #nullable disable

    List<Juegos.Juego> juegos = new List<Juegos.Juego>();

    private void TextoCambia(ChangeEventArgs texto)
    {
        if (texto.Value.ToString().Trim().Length > 1)
        {
            juegos = BaseDatos.Juegos.Buscar.Nombre(texto.Value.ToString().Trim(), true);
        } 
        else
        {
            juegos = new List<Juegos.Juego>();
        }
    }
}

