.cabecera {
    min-height: var(--alturaCabecera);
    background-color: var(--fondoOscuro);
    z-index: 9999;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 14px;
}

.cabecera-poner {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    line-height: 30px;
    gap: 20px;
}

.cuerpo {
    background-color: var(--fondoCuerpo);
    color: var(--colorTexto);
   /* height: 100%;*/
    font-family: 'Motiva Sans';
    position: relative;
    margin: 0px;
}

.cuerpo-ancho {
    max-width: 1320px;
    /*width: 100%;*/
    margin-right: auto;
    margin-left: auto;
}

.cuerpo-espacio {   
    padding: 40px 0px 60px 0px;
}

@media(max-width: 800px) {
    .cuerpo-espacio {
        padding: 0px;
    }
}

.pie {
    background-color: var(--fondoOscuro);
    font-size: var(--tamañoTexto);
    color: var(--colorTexto);
}

.texto-logo {
    font-size: 22px;
    color: var(--colorTexto);
    text-decoration: none;
    padding-right: 20px;
}

.texto-logo:hover {
    color: var(--colorTextoHover);
}

.texto-cabecera {
    font-size: var(--tamañoTexto);
    color: var(--colorTexto);
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
}

.texto-cabecera:hover {
    color: var(--colorTextoHover);
}

.texto-cabecera:visited {
    color: var(--colorTextoVisitado);
}

.texto-cabecera:active {
    color: var(--colorTextoActivo);
}

.texto-pie {
    font-size: var(--tamañoTexto);
    color: var(--colorTexto);
    text-decoration: none;
}

.texto-pie:hover {
    color: var(--colorTextoHover);
}

.texto-pie:visited {
    color: var(--colorTextoVisitado);
}