:root {
    --fondoOscuro: #002033;
    --fondoOscuroTransparente: rgba(0, 32, 51, 0.9);
    --fondoCuerpo: #1b2838;
    --tamañoTexto: 16px;
    --colorTexto: #f5f5f5;
    --colorTextoHover: #b9e2fa;
    --colorTextoVisitado: #cbeafb;
    --fondoEntrada: #0d1621;
    --fondoBoton: #1982bf;
    --fondoBotonHover: #1671a6;
    --fondoBotonPequeño: #0d1621;
    --fondoBotonPequeñoHover: #060a0f;
    --colorTextoPeligro: #f04f5e;
    --colorTextoPeligroHover: #b91020;
    --colorTextoOscuro: #86aeef;
    --colorTextoAlerta: #664d03;
    --fondoAlerta: #fff3cd;
    --colorTextoBien: #011a11;
    --fondoBien: #057c4f;
    --colorTextoDlc: #edddf0;
    --fondoDlc: #733b7f;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('../fuente/MotivaSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #95c0fe;
}

dl, ol, ul {
    margin-top: 15px;
    margin-bottom: 15px;
}

#components-reconnect-modal {
    display: none;
}

    #components-reconnect-modal.components-reconnect-show,
    #components-reconnect-modal.components-reconnect-failed,
    #components-reconnect-modal.components-reconnect-rejected {
        display: block;
    }