.carta-ancho {
    width: 100%;
    max-width: 500px;
}

.carta {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--fondoOscuro);
    background-clip: border-box;
    border: 0px;
}

.texto-cabecera-carta {
    text-align: center;
    padding: 1rem;
    display: block;
}

.texto-info {
    font-size: 20px;
}

.texto-info-entrada {
    margin-left: 10px;
    margin-bottom: 5px;
}

.texto-peligro-entrada {
    color: var(--colorTextoPeligro);
}

.entrada-texto {
    padding: 5px 10px;
    background-color: var(--fondoEntrada);
    border: 0px;
    color: var(--colorTexto);
    display: block;
    width: 100%;
    min-width: 100%;
    vertical-align: middle;
}

.entrada-texto::placeholder {
    font-size: 14px;
}

.boton {
    color: var(--colorTexto);
    background-color: var(--fondoBoton);
    display: inline-block;
    user-select: none;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: 0px;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    filter: saturate(0.85);
}

    .boton:hover {
        color: var(--colorTexto);
        background-color: var(--fondoBotonHover);
    }

.boton-pequeño {
    color: var(--colorTexto);
    background-color: var(--fondoBotonPequeño);
    display: inline-block;
    user-select: none;
    width: 100%;
    padding: 6px;
    text-align: left;
    font-size: 16px;
    border: 0px;
    text-decoration: none;
    transition: transform .2s;
    filter: saturate(0.85);
}

    .boton-pequeño:hover {
        color: var(--colorTextoHover);
        background-color: var(--fondoBotonPequeñoHover);
        transform: scale(1.01);
    }

.boton-peligro {
    color: var(--colorTexto);
    background-color: var(--colorTextoPeligro);
    display: inline-block;
    user-select: none;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: 0px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    filter: saturate(0.85);
    text-decoration: none;
}

    .boton-peligro:hover {
        color: var(--colorTexto);
        background-color: var(--colorTextoPeligroHover);
    }

.boton-pequeño-peligro {
    color: var(--colorTexto);
    background-color: var(--colorTextoPeligro);
    display: inline-block;
    user-select: none;
    width: 100%;
    padding: 6px;
    text-align: center;
    font-size: 16px;
    border: 0px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    filter: saturate(0.85);
    text-decoration: none;
}

    .boton-pequeño-peligro:hover {
        color: var(--colorTexto);
        background-color: var(--colorTextoPeligroHover);
    }

.perfil {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--fondoOscuro);
    background-clip: border-box;
    border: 0px;
    padding: 40px;
}

.perfil-lateral {
    display: block;
    padding: .5rem 1rem;
    color: var(--colorTextoOscuro);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    filter: saturate(0.85);
}

.perfil-lateral.active {
    color: var(--colorTexto);
    background-color: var(--fondoBoton);
}

.perfil-espacio-adicional {
    padding-top: 10px;
    padding-bottom: 10px;
}

.perfil-flexible {
    display: flex;
    flex-direction: row;
}

.perfil-flexible-centrado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.perfil-flexible-izquierda {
    width: 250px;
    min-width: 250px;
}

.perfil-flexible-derecha {
    width: 150px;
    margin-left: 30px;
}

.perfil-alerta {
    position: relative;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px;
    background-color: var(--fondoAlerta);
}

.perfil-espacio-top {
    margin-top: 6px;
}

.perfil-espacio-bottom {
    margin-bottom: 50px;
}

.admin-busqueda {
    padding-left: 30px;
    justify-content: center;
    width: 100%;
}

.admin-busqueda-juego-izquierda {
    justify-content: center;
    width: 100%;
}

.admin-busqueda-juego-derecha {
    width: 150px;
    min-width: 150px;
    padding-left: 30px;
}

.admin-añadir-espacio-top {
    margin-top: 10px;
}

.admin-añadir-espacio-adicional-top {
    margin-top: 30px;
}

.admin-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 30px;
    justify-content: center;
}

.admin-tiempohace {
    text-align: left;
    line-height: 40px;
}

.juego-wrap {
    overflow: hidden;
    position: relative;
    padding: 40px 10px 60px 10px;
    margin: -40px -10px -60px -10px;
}

.juego-fondo {
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 50%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 50%, transparent 100%);
    z-index: -9999;
}

.juego-contenido {
    position: relative;
}

.juego-cabecera {
    background-color: var(--fondoOscuroTransparente);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0px;
}

.juego-flexible-izquierda {
    min-width: 200px;
    max-width: 270px;
}

@media(max-width: 800px) {
    .juego-flexible-izquierda {
        min-width: 0px;
        max-width: 0px;
    }
}

.juego-imagen {
    display: block;
    max-width: 100%;
}

@media(max-width: 800px) {
    .juego-imagen {
        display: none;
    }
}

.juego-titulo {
    font-size: 20px;
    margin: 12px 20px;
    width: 100%;
}

@media(max-width: 800px) {
    .juego-titulo {
        margin: 5px;
    }
}

.juego-analisis-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.juego-analisis-imagen {
    height: 32px;
    width: 32px;
}

.juego-boton-pequeño {
    color: var(--colorTexto);
    background-color: var(--fondoBotonPequeño);
    user-select: none;
    padding: 10px 12px;
    text-align: left;
    font-size: 14px;
    border: 0px;
    text-decoration: none;
    transition: transform .2s;
    filter: saturate(0.85);
}

    .juego-boton-pequeño:hover {
        color: var(--colorTexto);
        background-color: var(--fondoBotonPequeñoHover);
        transform: scale(1.01);
    }

.juego-imagen-boton {
    margin: 20px;
    max-height: 40px;
}

.juego-drm-centrado {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.juego-minimo {
    text-align: left;
    margin-bottom: 10px;
}

.juego-descuento-precio {
    display: flex;
    align-items: center;
}

.juego-descuento {
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    background-color: darkgreen;
}

.juego-precio {
    font-size: 18px;
    margin: 20px;
}

.juego-galeria-contenedor {
    position: relative;
}

.juego-galeria-imagenes {
    display: none;
}

.juego-galeria-cursor {
    cursor: pointer;
}

.juego-galeria-atras,
.juego-galeria-siguiente {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: var(--colorTexto);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0px;
    user-select: none;
    text-decoration: none;
    -webkit-user-select: none;
}

.juego-galeria-siguiente {
    right: 0;
    border-radius: 0px;
}

.juego-galeria-atras:hover,
.juego-galeria-siguiente:hover {
    background-color: var(--fondoOscuroTransparente);
}

.juego-galeria-numero {
    color: var(--colorTexto);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: var(--fondoOscuro);
    opacity: 0.4;
}

.juego-galeria-contenedor-texto {
    text-align: center;
    background-color: var(--fondoOscuro);
    padding: 2px 16px;
    color: white;
}

.juego-galeria-fila {
    display: flex;
    overflow: auto;
    padding-bottom: 15px;
}

.juego-galeria-fila:after {
    content: "";
    display: table;
    clear: both;
}

.juego-galeria-columna {
    float: left;
    width: 16.66%;
    flex: 0 0 auto;
}

.juego-galeria-capturas {
    opacity: 0.6;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.juego-galeria-activo,
.juego-galeria-capturas:hover {
    opacity: 1;
}

.menu-dropdown {
    position: relative;
    display: inline-block;
}

.menu-dropdown-contenido {
    display: none;
    position: absolute;
    background-color: var(--fondoOscuro);
    color: var(--colorTexto);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 0px;
    z-index: 1;
}

.menu-dropdown-item {
    display: block;
    padding: 8px 15px;
    margin: 0px;
}

.menu-dropdown:hover .menu-dropdown-contenido {
    display: block;
}

.menu-dropdown-contenido a:hover {
    color: var(--colorTextoHover);
    background-color: var(--fondoBotonHover);
}

.menu-dropdown-contenido button:hover {
    color: var(--colorTextoHover);
    background-color: var(--fondoBotonHover);
}

.juego-icono-tienda {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

select {
    appearance: none;
    outline: 10px red;
    border: 0px;
    box-shadow: none;
    flex: 1;
    padding: 10px 15px;
    color: var(--colorTexto);
    background-color: var(--fondoEntrada);
    font-family: 'Motiva Sans';
    cursor: pointer;
}

    select::-ms-expand {
        display: none;
    }

.opciones-combobox {
    position: relative;
    display: flex;
    height: 45px;
    border: 0px;
    border-radius: 0;
    overflow: hidden;
}

    .opciones-combobox::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;
        background-color: var(--fondoCuerpo);
        transition: .25s all ease;
        pointer-events: none;
    }

    .opciones-combobox:hover::after {
        color: var(--colorTextoOscuro);
    }

.checkbox-caja .checkbox-interior {
    appearance: none;
    background-color: var(--bs-gray-800);
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 24px;
    margin: 0;
    position: relative;
    width: 40px;
}

.checkbox-caja .checkbox-interior::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.checkbox-caja .checkbox-interior,
.checkbox-caja .checkbox-interior::after {
    transition: all 100ms ease-out;
}

.checkbox-caja .checkbox-interior::after {
    background-color: var(--bs-gray-500);
    border-radius: 50%;
    content: "";
    height: 19px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 19px;
}

.checkbox-caja input[type=checkbox] {
    cursor: default;
}

.checkbox-caja .checkbox-interior:hover {
    background-color: var(--bs-gray-600);
    transition-duration: 0s;
    cursor: pointer;
}

.checkbox-caja .checkbox-interior:checked {
    background-color: var(--fondoBoton);
}

.checkbox-caja .checkbox-interior:checked::after {
    background-color: var(--colorTexto);
    left: 18px;
}

.checkbox-caja :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox-caja .checkbox-interior:checked:hover {
    background-color: var(--fondoBotonHover);
    cursor: pointer;
}

.tooltip2 {
    display: inline-block;
    position: relative;
    text-align: left;
}

    .tooltip2 .tooltip-abrir {
        top: 50%;
        left: 100%;
        padding: 0;
        color: var(--colorTexto);
        background-color: var(--fondoBotonPequeño);
        font-size: 16px;
        font-weight: normal;
        border-radius: 0px;
        position: absolute;
        z-index: 99999999;
        box-sizing: border-box;
        box-shadow: 0 1px 8px rgba(0,0,0,0.5);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.8s;
    }

    .tooltip2:hover .tooltip-abrir {
        visibility: visible;
        opacity: 1;
    }

.tooltip-derecha {
    margin-left: 20px;
    transform: translate(0, -50%);
}

.tooltip-abajo {
    margin-top: 20px;
    transform: translate(-50%, 0);
}

.tooltip-abajo2 {
    margin-top: 50px;
    transform: translateX(-50%);
}

.subir-arriba:hover {
    transform: scale(1.1);
}

.enlace-falso {
    color: var(--colorEnlace);
    cursor: pointer;
    text-decoration: none;
}

    .enlace-falso:hover {
        color: var(--colorEnlaceHover);
    }

.tooltip-juego {
    text-decoration: none;
    position: relative;
}

    .tooltip-juego .tooltip-relleno {
        display: none;
    }

    .tooltip-juego:hover .tooltip-relleno {
        display: block;
        position: fixed;
        overflow: hidden;
        z-index: 1;
    }

.tooltip-relleno {
    background-color: var(--fondoBotonPequeño);
    color: var(--colorTexto);
    border: 1px solid var(--fondoBoton);
    border-radius: 2px;
    z-index: 1;
}

.cargando {
    width: 48px;
    height: 48px;
    border: 5px solid var(--colorTexto);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotacion 1s linear infinite;
}

@keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.deslizador {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background-color: var(--bs-gray-800);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 60px;
}

    .deslizador:hover {
        background-color: var(--bs-gray-700);
    }

    .deslizador::-webkit-slider-thumb {
        position: relative;
        -webkit-appearance: none;
        appearance: none;
        width: 19px;
        height: 19px;
        background: var(--bs-gray-500);
        cursor: pointer;
        border-radius: 57px;
    }

    .deslizador::-moz-range-thumb {
        position: relative;
        width: 19px;
        height: 19px;
        background: var(--bs-gray-500);
        cursor: pointer;
        border-radius: 57px;
    }

.opciones-panel {
    height: calc(100% - var(--alturaCabecera));
    width: 100%;
    left: 0;
    top: 0;
    overflow-x: auto;
    position: fixed;
    z-index: 1001;
    margin-top: var(--alturaCabecera);
    padding: 10px;
    backdrop-filter: blur(20px);
}