.carta-ancho {
    width: 100%;
    max-width: 500px;
}

.carta {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--fondoOscuro);
    background-clip: border-box;
    border: 0px;
}

.texto-cabecera-carta {
    text-align: center;
    padding: 1rem;
    display: block;
}

.texto-info {
    font-size: 20px;
}

.texto-info-entrada {
    margin-left: 10px;
    margin-bottom: 5px;
}

.texto-peligro-entrada {
    color: var(--colorTextoPeligro);
}

.entrada-texto {
    padding: 5px 10px;
    background-color: var(--fondoEntrada);
    border: 0px;
    color: var(--colorTexto);
    display: block;
    width: 100%;
    min-width: 100%;
    vertical-align: middle;
}

.caja-confirmacion {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-top: 0px;
    margin-right: 2px;
    accent-color: var(--fondoEntrada);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 0px;
}

.boton {
    color: var(--colorTexto);
    background-color: var(--fondoBoton);
    display: inline-block;
    user-select: none;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: 0px;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.boton:hover {
    color: var(--colorTexto);
    background-color: var(--fondoBotonHover);
}

.boton-pequeño {
    color: var(--colorTexto);
    background-color: var(--fondoBotonPequeño);
    display: inline-block;
    user-select: none;
    width: 100%;
    padding: 6px;
    text-align: left;
    font-size: 16px;
    border: 0px;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.boton-pequeño:hover {
    color: var(--colorTexto);
    background-color: var(--fondoBotonPequeñoHover);
}

.boton-peligro {
    color: var(--colorTexto);
    background-color: var(--colorTextoPeligro);
    display: inline-block;
    user-select: none;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: 0px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-decoration: none;
}

.boton-peligro:hover {
    color: var(--colorTexto);
    background-color: var(--colorTextoPeligroHover);
}

.boton-pequeño-peligro {
    color: var(--colorTexto);
    background-color: var(--colorTextoPeligro);
    display: inline-block;
    user-select: none;
    width: 100%;
    padding: 6px;
    text-align: center;
    font-size: 16px;
    border: 0px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-decoration: none;
}

.boton-pequeño-peligro:hover {
    color: var(--colorTexto);
    background-color: var(--colorTextoPeligroHover);
}

.cuerpo-login {
    margin-top: 30px;
    margin-bottom: 40px;
}

.cuerpo-registro {
    margin-top: 30px;
    margin-bottom: 50px;
}

.perfil {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--fondoOscuro);
    background-clip: border-box;
    border: 0px;
    padding: 40px;
}

.perfil-lateral {
    display: block;
    padding: .5rem 1rem;
    color: var(--colorTextoOscuro);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.perfil-lateral.active {
    color: var(--colorTexto);
    background-color: var(--fondoBoton);
}

.perfil-espacio-adicional {
    padding-top: 10px;
    padding-bottom: 10px;
}

.perfil-flexible {
    display: flex;
    flex-direction: row;
}

.perfil-flexible-centrado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.perfil-flexible-izquierda {
    width: 250px;
    min-width: 250px;
}

.perfil-flexible-derecha {
    width: 150px;
    margin-left: 30px;
}

.perfil-alerta {
    position: relative;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px;
    color: var(--colorTextoAlerta);
    background-color: var(--fondoAlerta);
}

.perfil-espacio-top {
    margin-top: 6px;
}

.perfil-espacio-bottom {
    margin-bottom: 50px;
}

.admin-busqueda {
    padding-left: 30px;
    justify-content: center;
    width: 100%;
}

.admin-busqueda-juego-izquierda {
    justify-content: center;
    width: 100%;
}

.admin-busqueda-juego-derecha {
    width: 150px;
    min-width: 150px;
    padding-left: 30px;
}

.admin-añadir-espacio-top {
    margin-top: 10px;
}

.admin-añadir-espacio-adicional-top {
    margin-top: 30px;
}

.admin-boton-imagen-300x80 {
    background-position: center;
    background-size: 30%;
    background-color: var(--fondoBotonPequeño);
    background-origin: content-box;
    background-repeat: no-repeat;
    padding: 40px;
    height: 60px;
    width: 100%;
}

.admin-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 30px;
    justify-content: center;
}

.admin-tiempohace {
    text-align: left;
    line-height: 40px;
}

.juego-wrap {
    overflow: hidden;
    position: relative;
    padding: 40px 10px 60px 10px;
    margin: -40px -10px -60px -10px;
}

.juego-fondo {
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 50%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 50%, transparent 100%);
}

.juego-contenido {
    position: relative;
}

.juego-cabecera {
    background-color: var(--fondoOscuroTransparente);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0px;
}

.juego-flexible-izquierda {
    min-width: 200px;
    max-width: 270px;
}

@media(max-width: 800px) {
    .juego-flexible-izquierda {
        min-width: 0px;
        max-width: 0px;
    }
}

.juego-imagen {
    display: block;
    max-width: 100%;
}

@media(max-width: 800px) {
    .juego-imagen {
        display: none;
    }
}

.juego-titulo {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    width: 100%;
}

@media(max-width: 800px) {
    .juego-titulo {
        margin: 5px;
    }
}

.juego-sistemas-espacio {
    margin-top: 10px;
}

@media(max-width: 800px) {
    .juego-sistemas-espacio {
        margin-top: 5px;
    }
}

.juego-analisis {
    font-size: 14px;
    margin-left: 20px;
    min-width: 250px;
}

@media(max-width: 800px) {
    .juego-analisis {
        min-width: 60px;
        margin-left: 10px;
    }
}

.juego-analisis-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.juego-analisis-imagen {
    height: 32px;
    width: 32px;
}

.juego-analisis-texto {
    margin-left: 10px;
    margin-bottom: 3px;
}

@media(max-width: 800px) {
    .juego-analisis-texto {
        display: none;
    }
}

.juego-analisis-texto2 {
    margin-bottom: 10px;
    text-align: center;
}

.juego-boton-pequeño {
    color: var(--colorTexto);
    background-color: var(--fondoBotonPequeño);
    user-select: none;
    padding: 10px 12px;
    text-align: left;
    font-size: 14px;
    border: 0px;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.juego-boton-pequeño:hover {
    color: var(--colorTexto);
    background-color: var(--fondoBotonPequeñoHover);
}

.juego-imagen-boton {
    margin: 20px;
    max-height: 40px;
}

.juego-imagen-boton-espacio {
    margin: 5px 0px;
}

.juego-drm-centrado {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.juego-drm-imagen {
    text-align: center;
    width: 10%;
}

.juego-minimo {
    text-align: left;
    margin-bottom: 20px;
}

.juego-descuento-precio {
    display: flex;
    align-items: center;
}

.juego-descuento {
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    background-color: darkgreen;
}

.juego-precio {
    font-size: 18px;
    margin: 20px;
}

.buscador-panel {
    height: 90%;
    width: 100%;
    left: 0;
    top: 0;
    overflow-x: auto;
    position: fixed;
    z-index: 1000;
    margin-top: 5%;
    padding: 10px;
    background-color: var(--fondoOscuroTransparente);
}

.juego-galeria-contenedor {
    position: relative;
}

.juego-galeria-imagenes {
    display: none;
}

.juego-galeria-cursor {
    cursor: pointer;
}

.juego-galeria-atras,
.juego-galeria-siguiente {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: var(--colorTexto);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0px;
    user-select: none;
    text-decoration: none;
    -webkit-user-select: none;
}

.juego-galeria-siguiente {
    right: 0;
    border-radius: 0px;
}

.juego-galeria-atras:hover,
.juego-galeria-siguiente:hover {
    background-color: var(--fondoOscuroTransparente);
}

.juego-galeria-numero {
    color: var(--colorTexto);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.juego-galeria-contenedor-texto {
    text-align: center;
    background-color: var(--fondoOscuro);
    padding: 2px 16px;
    color: white;
}

.juego-galeria-fila:after {
    content: "";
    display: table;
    clear: both;
}

.juego-galeria-columna {
    float: left;
    width: 16.66%;
}

.juego-galeria-capturas {
    opacity: 0.6;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.juego-galeria-activo,
.juego-galeria-capturas:hover {
    opacity: 1;
}

.menu-dropdown {
    position: relative;
    display: inline-block;
}

.menu-dropdown-contenido {
    display: none;
    position: absolute;
    background-color: var(--fondoOscuro);
    color: var(--colorTexto);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 0px;
    z-index: 1;
}

.menu-dropdown-item {
    display: block;
    padding: 8px 15px;
    margin: 0px;
}

.menu-dropdown:hover .menu-dropdown-contenido {
    display: block;
}

.menu-dropdown-contenido a:hover {
    color: var(--colorTextoHover);
    background-color: var(--fondoBotonHover);
}

.juego-icono-tienda {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

select {
    appearance: none;
    outline: 10px red;
    border: 0px;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: var(--colorTexto);
    background-color: var(--fondoEntrada);
    font-family: 'Motiva Sans';
    cursor: pointer;
}

    select::-ms-expand {
        display: none;
    }

.opciones-combobox {
    position: relative;
    display: flex;
    height: 45px;
    border: 0px;
    border-radius: 0;
    overflow: hidden;
}

    .opciones-combobox::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;
        background-color: var(--fondoCuerpo);
        transition: .25s all ease;
        pointer-events: none;
    }

    .opciones-combobox:hover::after {
        color: var(--colorTextoOscuro);
    }
