@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json
@using pepeizqs_deals_web.Areas.Identity.Data

@inject UserManager<Usuario> UserManager
@inject SignInManager<Usuario> SignInManager
@inject IHttpContextAccessor HttpContextAccessor

@if (usuario != null)
{
	<div style="padding: 20px; background: var(--fondoCuerpo);">
		<div style="display: flex; align-items: center; margin-bottom: 20px;">
			<div style="width: 100%;">
				Admin Editar • Deseados
			</div>
		</div>

		<div style="display: flex; align-items: center; margin-bottom: 20px;">
			<div style="width: 15%; padding-right: 20px; text-align: right;">
				usuario.SteamGames
			</div>

			<div style="width: 85%;">
				@Herramientas.Listados.Generar(usuario.SteamGames).Count
			</div>
		</div>

		<div style="display: flex; align-items: center; margin-bottom: 20px;">
			<div style="width: 15%; padding-right: 20px; text-align: right;">
				usuario.SteamWishlist
			</div>

			<div style="width: 85%;">
				@Herramientas.Listados.Generar(usuario.SteamWishlist).Count
			</div>
		</div>

		<div style="display: flex; align-items: center;">
			<div style="width: 15%; padding-right: 20px; text-align: right;">
				usuario.Wishlist
			</div>

			<div style="width: 85%;">
				@{
					#nullable disable

					if (string.IsNullOrEmpty(usuario.Wishlist) == false)
					{
						List<global::Juegos.JuegoDeseado> lista = JsonConvert.DeserializeObject<List<global::Juegos.JuegoDeseado>>(usuario.Wishlist);

						if (lista != null)
						{
							<label>@lista.Count</label>
						}
						else
						{
							<label>0</label>
						}
					}
					else
					{
						<label>0</label>
					}
				}
			</div>
		</div>
	</div>

	<hr />
}

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

	private Usuario usuario = new Usuario();

	protected override async Task OnInitializedAsync()
	{
		usuario = await UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User);
	}

}
