@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Data.SqlClient

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px;">
    <div>
        <button @onclick="@(e => ActualizarDivisas(e))" class="boton-pequeño" style="text-align: center; width: 200px;">Actualizar</button>
    </div>
    <div style="display: flex; flex-direction: column; gap: 20px; margin-top: 20px;">
        <div>@Herramientas.Divisas.MensajeDolar()</div>
        <div>@Herramientas.Divisas.MensajeLibra()</div>
    </div>
</div>

@code {

    #nullable disable

    private SqlConnection conexion = new SqlConnection();

    private async Task ActualizarDivisas(MouseEventArgs e)
    {
        if (conexion.State != System.Data.ConnectionState.Open)
        {
            conexion = Herramientas.BaseDatos.Conectar();
        }

        using (conexion)
        {
            await Herramientas.Divisas.ActualizarDatos(conexion);
        }
    }
}
