@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Data.SqlClient

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px;">
    <button @onclick="(async () => await BuscarDlcMaestro())" class="boton-pequeño" style="padding: 10px 15px; width: 250px;">
        Buscar Maestro
    </button>

    @if (dlcsPendientes.Count > 0)
    {
        <div style="margin-top: 30px;">
            <a href="/game/@dlcsPendientes[posicionDLC].Id.ToString()" target="_blank">
                <img src="@dlcsPendientes[posicionDLC].Imagenes.Header_460x215" style="width: 230px; height: 107px;" />
            </a>

            <label style="margin-left: 20px;">@dlcsPendientes[posicionDLC].Nombre</label>
        </div>
    }
</div>

@code {

    #nullable disable

    private SqlConnection conexion = new SqlConnection();

    private List<global::Juegos.Juego> dlcsPendientes = new List<global::Juegos.Juego>();

    protected override void OnInitialized()
    {
        if (conexion.State != System.Data.ConnectionState.Open)
        {
            conexion = Herramientas.BaseDatos.Conectar();
        }

        dlcsPendientes = BaseDatos.Juegos.Buscar.DLCs(null, conexion);
    }

    private int posicionDLC = 0;
    private string textoDlcMaestro = string.Empty;

    private async Task BuscarDlcMaestro()
    {
        if (conexion.State != System.Data.ConnectionState.Open)
        {
            conexion = Herramientas.BaseDatos.Conectar();
        }

        global::Juegos.Juego nuevoJuego = await APIs.Steam.Juego.CargarDatos(dlcsPendientes[posicionDLC].IdSteam.ToString());

        if (nuevoJuego != null)
        {
            textoDlcMaestro = nuevoJuego.Maestro;

            if (string.IsNullOrEmpty(textoDlcMaestro) == false)
            {
                using (conexion)
                {
                    dlcsPendientes[posicionDLC].Maestro = textoDlcMaestro;
                    BaseDatos.Juegos.Actualizar.DlcMaestro(dlcsPendientes[posicionDLC], conexion);
                }

                posicionDLC += 1;
            }
        }
    }
}
