<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px;">
    <div>
        pepeizqdeals.com
    </div>

    <div style="display: flex; align-items: center; gap: 20px; margin-top: 20px;">
        <div>
            <a class="boton-pequeño" href="https://win6052.site4now.net/stats/awstats.pl?config=1112749300&h=8d43503475c9993340908170c2f4b9da" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Smarterasp</a>
        </div>

        <div>
            <a class="boton-pequeño" href="https://search.google.com/search-console?resource_id=sc-domain:pepeizqdeals.com" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Google</a>
        </div>

        <div>
            <a class="boton-pequeño" href="https://www.bing.com/webmasters/home?siteUrl=https://pepeizqdeals.com/" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Bing</a>
        </div>
    </div>
</div>

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px;">
    <div>
        pepeizqapps.com
    </div>

    <div style="display: flex; align-items: center; gap: 20px; margin-top: 20px;">
        <div>
            <a class="boton-pequeño" href="https://win6052.site4now.net/stats/awstats.pl?config=1112749301&h=247c8c635b3636dbad356b8bfe410387" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Smarterasp</a>
        </div>

        <div>
            <a class="boton-pequeño" href="https://search.google.com/search-console?resource_id=sc-domain:pepeizqapps.com" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Google</a>
        </div>

        <div>
            <a class="boton-pequeño" href="https://www.bing.com/webmasters/home?siteUrl=https://pepeizqapps.com/" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Bing</a>
        </div>
    </div>
</div>

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px;">
    <div>
        Correo
    </div>

    <div style="display: flex; align-items: center; margin-top: 20px;">
        <div style="margin-right: 20px;">
            <a class="boton-pequeño" href="https://member5-7.smarterasp.net/cp/email" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Abrir Correo</a>
        </div>

        <div style="margin-right: 20px;">
            @{
                if (correosDeals == 1)
                {
                    <label>deals: 1 nuevo correo</label>
                }
                else if (correosDeals > 1)
                {
                    <label>deals: @correosDeals nuevos correos</label>
                }
            }
        </div>

        <div style="margin-right: 20px;">
            @{
                if (correosApps == 1)
                {
                    <label>apps: 1 nuevo correo</label>
                }
                else if (correosApps > 1)
                {
                    <label>apps: @correosApps nuevos correos</label>
                }
            }
        </div>
    </div>
</div>

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px; margin-top: 20px;">
    <div>
        Afiliados
    </div>

    <div style="display: flex; align-items: center; flex-flow: wrap; grid-gap: 20px; margin-top: 20px;">
        <div>
            <a class="boton-pequeño" href="https://partners.fanatical.com/" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Fanatical</a>
        </div>

        <div>
            <a class="boton-pequeño" href="https://uk.gamesplanet.com/partner/uk/reports" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Gamesplanet</a>
        </div>

        <div>
            <a class="boton-pequeño" href="https://affiliate.indiegala.com/" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">IndieGala</a>
        </div>

        <div>
            <a class="boton-pequeño" href="https://app.impact.com/login.user" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Impact</a>
        </div>

        <div>
            <a class="boton-pequeño" href="https://members.cj.com/member/publisher/home.do" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Comission Junction</a>
        </div>

        <div>
            <a class="boton-pequeño" href="https://www.macgamestore.com/affiliate/" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">WinGameStore</a>
        </div>

        <div>
            <a class="boton-pequeño" href="https://gamebillet.com/customer/earnwithus" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Gamebillet</a>
        </div>

        <div>
            <a class="boton-pequeño" href="https://www.joybuggy.com/register-program" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">JoyBuggy</a>
        </div>

        <div>
            <a class="boton-pequeño" href="https://app.playsum.live/partner-program" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Playsum</a>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int correosDeals { get; set; }

    [Parameter]
    public int correosApps { get; set; }

}
