<div class="perfil" style="padding: 20px; border: 1px solid var(--fondoBoton);">
    <div>
        Visitas - pepeizqdeals.com
    </div>

    <div style="display: flex; align-items: center; margin-top: 20px;">
        <div style="margin-right: 20px;">
            <a class="boton-pequeño" href="https://win6052.site4now.net/stats/awstats.pl?config=1112749300&h=8d43503475c9993340908170c2f4b9da" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Smarterasp</a>
        </div>

        <div style="margin-right: 20px;">
            <a class="boton-pequeño" href="https://dash.cloudflare.com/a419bd795a2aa4915b886e422f16c484/pepeizqdeals.com/analytics/traffic" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Cloudflare</a>
        </div>

        <div style="margin-right: 20px;">
            <a class="boton-pequeño" href="https://search.google.com/search-console?resource_id=sc-domain:pepeizqdeals.com" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Google</a>
        </div>

        <div style="margin-right: 20px;">
            <a class="boton-pequeño" href="https://www.bing.com/webmasters/home?siteUrl=https://pepeizqdeals.com/" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Bing</a>
        </div>
    </div>
</div>

<div class="perfil" style="padding: 20px; border: 1px solid var(--fondoBoton); margin-top: 40px;">
    <div>
        Visitas - pepeizqapps.com
    </div>

    <div style="display: flex; align-items: center; margin-top: 20px;">
        <div style="margin-right: 20px;">
            <a class="boton-pequeño" href="https://win6052.site4now.net/stats/awstats.pl?config=1112749301&h=247c8c635b3636dbad356b8bfe410387" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Smarterasp</a>
        </div>

        <div style="margin-right: 20px;">
            <a class="boton-pequeño" href="https://dash.cloudflare.com/a419bd795a2aa4915b886e422f16c484/pepeizqapps.com/analytics/traffic" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Cloudflare</a>
        </div>

        <div style="margin-right: 20px;">
            <a class="boton-pequeño" href="https://search.google.com/search-console?resource_id=sc-domain:pepeizqapps.com" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Google</a>
        </div>

        <div style="margin-right: 20px;">
            <a class="boton-pequeño" href="https://www.bing.com/webmasters/home?siteUrl=https://pepeizqapps.com/" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Bing</a>
        </div>
    </div>
</div>

<div class="perfil" style="padding: 20px; border: 1px solid var(--fondoBoton); margin-top: 40px;">
    <div>
        Correo
    </div>

    <div style="display: flex; align-items: center; margin-top: 20px;">
        <div style="margin-right: 20px;">
            <a class="boton-pequeño" href="https://member5-7.smarterasp.net/cp/email" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Abrir Correo</a>
        </div>

        <div style="margin-right: 20px;">
            @{
                if (correosDeals == 1)
                {
                    <label>deals: 1 nuevo correo</label>
                }
                else if (correosDeals > 1)
                {
                    <label>deals: @correosDeals nuevos correos</label>
                }
            }
        </div>

        <div style="margin-right: 20px;">
            @{
                if (correosApps == 1)
                {
                    <label>apps: 1 nuevo correo</label>
                }
                else if (correosApps > 1)
                {
                    <label>apps: @correosApps nuevos correos</label>
                }
            }
        </div>
    </div>
</div>

<div class="perfil" style="padding: 20px; border: 1px solid var(--fondoBoton); margin-top: 40px;">
    <div>
        Afiliados
    </div>

    <div style="display: flex; align-items: center; margin-top: 20px;">
        <div style="margin-right: 20px;">
            <a class="boton-pequeño" href="https://www.humblebundle.com/partner/dashboard/sales" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Humble</a>
        </div>

        <div style="margin-right: 20px;">
            <a class="boton-pequeño" href="https://partners.fanatical.com/" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Fanatical</a>
        </div>

        <div style="margin-right: 20px;">
            <a class="boton-pequeño" href="https://uk.gamesplanet.com/partner/uk/reports" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Gamesplanet</a>
        </div>

        <div style="margin-right: 20px;">
            <a class="boton-pequeño" href="https://affiliate.indiegala.com/" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">IndieGala</a>
        </div>

        <div style="margin-right: 20px;">
            <a class="boton-pequeño" href="https://members.cj.com/member/publisher/home.do" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">Comission Junction</a>
        </div>

        <div style="margin-right: 20px;">
            <a class="boton-pequeño" href="https://www.macgamestore.com/affiliate/" style="text-decoration: none; text-align: center; padding: 8px 16px;" target="_blank">WinGameStore</a>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int correosDeals { get; set; }

    [Parameter]
    public int correosApps { get; set; }

}
