@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Data.SqlClient

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px">
	<textarea id="humble-texto" class="entrada-texto" rows="20" @onchange="(e => TextoCambiaContenido(e))">@textoContenido</textarea>
</div>

@code {

	#nullable disable

	private string textoContenido = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		PeriodicTimer cronometro = new PeriodicTimer(TimeSpan.FromSeconds(1));

		while (await cronometro.WaitForNextTickAsync())
		{
			if (string.IsNullOrEmpty(textoContenido) == false)
			{
				SqlConnection conexion = Herramientas.BaseDatos.Conectar();

				using (conexion)
				{
					APIs.Humble.Tienda.RecopilarOfertas(textoContenido, conexion);
				}

				textoContenido = null;
			}
		}
	}

	private void TextoCambiaContenido(ChangeEventArgs texto)
	{
		if (string.IsNullOrEmpty(texto.Value.ToString().Trim()) == false)
		{
			textoContenido = texto.Value.ToString().Trim();

			if (string.IsNullOrEmpty(textoContenido) == false)
			{
				SqlConnection conexion = Herramientas.BaseDatos.Conectar();

				using (conexion)
				{
					APIs.Humble.Tienda.RecopilarOfertas(textoContenido, conexion);
				}

				textoContenido = null;
			}
		}
	}
}
