<div class="tooltip-wrapper">
    <div class="tooltip-relleno" style="width: @ancho; height: @alto; left: @izquierda; right: @derecha;">
        @if (string.IsNullOrEmpty(video) == false)
        {
            <video src="@video" autoplay="autoplay" loop muted style="width: 460px; height: 215px; object-fit: cover;" />
        }

        <div style="padding: 15px;">
            <label>@nombre</label>
            <div style="display: flex; align-items: center; margin-top: 15px; text-align: center; justify-content: center;">
                <div style="margin-right: 20px;">
                    <img src="@drm" style="max-width: 20px; max-height: 20px;" />
                </div>
                <div style="margin-right: 20px;">
                    <img src="@tienda" style="width: 20px; height: 20px;" />
                </div>
                <div>
                    @tiempo
                </div>
            </div>
        </div>
        
    </div>

    @ChildContent
</div>

<style>
    .tooltip-wrapper {
        position: relative;
    }

    .tooltip-relleno {
        visibility: hidden;
        position: absolute;
        overflow: visible;
        margin: auto;
        top: 0;
        bottom: 0;
        background-color: var(--fondoBotonPequeño);
        color: var(--colorTexto);
        text-align: center;
        padding: 0px;
        border: 1px solid var(--fondoBoton);
        border-radius: 2px;
        z-index: 1;
    }

        .tooltip-relleno::after {
            content: "";
        }

    .tooltip-wrapper:hover .tooltip-relleno {
        visibility: visible;
    }

</style>

@code {

    #nullable disable

    [Parameter] 
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string izquierda { get; set; }

    [Parameter] 
    public string drm { get; set; }

    [Parameter]
    public string tienda { get; set; }

    [Parameter]
    public string tiempo { get; set; }

    [Parameter]
    public string nombre { get; set; }

    [Parameter]
    public string video { get; set; }

    private string miniVideo = null;
    private string ancho = "462px";
    private string alto = "330px";
    private string derecha = "0";
}