@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Identity;
@using Newtonsoft.Json
@using pepeizqs_deals_web.Areas.Identity.Data;

@inject UserManager<Usuario> UserManager
@inject IHttpContextAccessor HttpContextAccessor

@if (usuario.EmailConfirmed == true)
{
	bool enseñarMensaje = true;

	if (string.IsNullOrEmpty(usuario.Keys) == false)
	{
		List<ClaveJuego>? claves = JsonConvert.DeserializeObject<List<ClaveJuego>>(usuario.Keys);

		if (claves != null)
		{
			if (claves.Count > 0)
			{
				enseñarMensaje = false;

				foreach (var clave in claves)
				{
					<div>
						<label>@clave.Nombre: @clave.Clave</label>
					</div>
				}
			}
		}
	}

	if (enseñarMensaje == true)
	{
		<div>
			<label>@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String59")</label>
		</div>
	}
}
else
{
	<div style="margin-top: 10px;">
		<div class="alert alert-danger alert-dismissible" style="margin-bottom: 0px; margin-top: 20px;" role="alert">
			@Herramientas.Idiomas.CogerCadena(idioma, "Settings.String44")
		</div>
	</div>
}

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

	private Usuario usuario = new Usuario();

	protected override void OnInitialized()
	{
		usuario = UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User).Result;
	}

	public class ClaveJuego
	{
		public string Nombre;
		public string Clave;
	}
}
