@using APIs.Steam;
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Identity;
@using pepeizqs_deals_web.Areas.Identity.Data;

@inject UserManager<Usuario> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<div style="margin-top: 10px;">
	<input class="entrada-texto" placeholder="https://steamcommunity.com/id/yourname/" value="@usuario.SteamAccount" @oninput="TextoCambiaSteamCuenta" />
	<label class="texto-info-entrada" style="margin-top: 15px;"><i class="fa-solid fa-circle-info" style="font-size: 20px;"></i>This website will only need your Steam account information if you want to save time creating your wishlist or if you want to access the game giveaways (in the near future I hope to launch this feature). In order for it to work correctly, your Steam account permissions must be <a href="/imagenes/otros/permisos.jpg" target="_blank">like this</a>.</label>
</div>

<div style="margin-top: 10px; margin-bottom: 40px; margin-left: 10px;">
	<img src="@usuario.Avatar" style="width: 30px; height: 30px;"/>

	<div>
		<label class="texto-info-entrada">Nickname: @usuario.Nickname</label>
	</div>

	<div>
		<label class="texto-info-entrada">Games on the account: @Cuenta.MensajeJuegos(usuario.SteamGames)</label>
	</div>
</div>

@code {

	#nullable disable

	private Usuario usuario = new Usuario();

	protected override void OnInitialized()
	{
		usuario = UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User).Result;
	}

	private void TextoCambiaSteamCuenta(ChangeEventArgs texto)
	{
		bool tiempo = true;

		if (usuario.SteamAccountLastCheck != null)
		{
			if (Convert.ToDateTime(usuario.SteamAccountLastCheck) + TimeSpan.FromDays(7) > DateTime.Now)
			{
				tiempo = false;
			}
		}

		if (tiempo == true)
		{
			if (texto.Value.ToString().Trim().Length > 1)
			{
				string enlace = texto.Value.ToString().Trim();

				if (enlace.Contains("https://steamcommunity.com/id/") == true || enlace.Contains("https://steamcommunity.com/profiles/") == true)
				{
					SteamUsuario datos = Cuenta.CargarDatos(usuario.SteamAccount).Result;

					usuario.SteamGames = datos.Juegos;
					usuario.SteamWishlist = datos.Deseados;
					usuario.Avatar = datos.Avatar;
					usuario.Nickname = datos.Nombre;
					usuario.SteamAccountLastCheck = DateTime.Now.ToString();
					usuario.OfficialGroup = datos.GrupoOficial;

					UserManager.UpdateAsync(usuario).Wait();
				}
			}
		}
		

	}

}
