@page
@model pepeizqs_deals_web.Pages.Tiendas.IndexModel

@using Microsoft.AspNetCore.Identity
@using pepeizqs_deals_web.Areas.Identity.Data

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@{
	ViewData["Title"] = "Tiendas";
	Layout = "/Pages/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
	@if (await UsuarioCoger.RolDios(UserManager, User) == true)
	{
		<div class="perfil">
			<form method="post">
				<div class="admin-grid">
					@foreach (var tienda in Tiendas2.TiendasCargar.GenerarListado())
					{
						<div><button class="boton admin-boton-imagen-300x80" style="background-image: url(@tienda.Imagen300x80);" id="@tienda.Id" asp-route-id="@tienda.Id" type="submit"></button></div>
					}
				</div>
			</form>
		</div>

		@ViewData["Mensaje"]
	}
}