@page "/Buscador"

@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.AspNetCore.Mvc;

@inherits Juegos.Juego

@*<div class="perfil">*@
<input type="text" @oninput="TextoCambia" class="entrada-texto" />

@if (juegos.Count > 0)
{
    <div id="cajabuscador" style="position: fixed;left: 50%;
    transform: translate(-50%, 0);">
        @foreach (var juego in juegos)
        {
            <div class="perfil-flexible-centrado perfil-espacio-top">
                <a class="boton-pequeño" href="/game/@juego.Id">
                    <div class="perfil-flexible-centrado">
                        <div style="width: 15%;">
                            <img src="@juego.Imagenes.Capsule_231x87" style="max-height:100%; max-width:100%;" />
                        </div>

                        <div style="width: 85%; padding-left: 15px;">
                            @juego.Nombre
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>   
}





@code {
    #nullable disable

    List<Juegos.Juego> juegos = new List<Juegos.Juego>();

    private void TextoCambia(ChangeEventArgs texto)
    {
        if (texto.Value.ToString().Trim().Length > 1)
        {
            juegos = BaseDatos.Juegos.Buscar.Nombre(texto.Value.ToString());
        } 
    }
}

