@page
@model pepeizqs_deals_web.Pages.ContactModel

@{
	ViewData["Title"] = Herramientas.Idiomas.CogerCadena(Model.idioma, "Contact.Title");
	Layout = "/Pages/Shared/_Layout.cshtml";
}

<div style="font-size: 22px; text-align: left; margin-bottom: 30px;">
	@Herramientas.Idiomas.CogerCadena(Model.idioma, "Contact.Title")
</div>

<div style="display: flex; align-items: center; background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 20px; gap: 20px;">
	<div>
		<i class="fa-solid fa-circle-info" style="font-size: 25px;"></i>
	</div>
	<div>
		@Herramientas.Idiomas.CogerCadena(Model.idioma, "Contact.String1")
	</div>	
</div>

<div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 20px; margin-top: 30px; margin-bottom: 40px;">
	@Herramientas.Idiomas.CogerCadena(Model.idioma, "Contact.String2")
	admin@pepeizqdeals.com
</div>