@page
@model pepeizqs_deals_web.Pages.curatorsModel
@{
    ViewData["Title"] = "Curators";
    Layout = "/Pages/Shared/_Layout.cshtml";

    if (Model.curators.Count > 0)
    {
        <div style="background-color: var(--fondoOscuro); border: 1px solid var(--fondoBotonPequeño); padding: 40px;">
            <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); gap: 20px; width: 100%;">
                @foreach (var curator in Model.curators)
                {
                    <a href="/curator/@curator.Slug">@curator.Nombre</a>
                }
            </div>
        </div>
    }
}
