@page
@model pepeizqs_deals_web.Pages.HistoricalLowModel

@{
	#nullable disable

	ViewData["Title"] = Herramientas.Idiomas.CogerCadena(Model.idioma, "HistoricalLow.Title");
	Layout = "/Pages/Shared/_Layout.cshtml";
}

<div id="cargando" style="width: 100%; display: flex; align-items: center; justify-content: center;">
	<span class="cargando"></span>
</div>

@(await Html.RenderComponentAsync<Componentes.Secciones.Minimos>(RenderMode.Server, new { 
	idioma = Model.idioma,
	cargando = "cargando"
}))