@page
@using Microsoft.AspNetCore.Builder;
@model IndexModel

@{
	ViewData["Title"] = "Home Page";
	Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="perfil-flexible-centrado">
	<div style="width: 50%;">
		@(await Html.RenderComponentAsync<Componentes.UltimosAñadidos>(RenderMode.ServerPrerendered))
	</div>
</div>

