@page
@using Microsoft.AspNetCore.Builder;
@model IndexModel

@{
	ViewData["Title"] = "Home Page";
	Layout = "/Pages/Shared/_Layout.cshtml";
}

<div style="display: flex; flex-direction: row; align-items: flex-start; justify-content: space-between;">
	<div style="width: 50%; padding: 20px;">
		@(await Html.RenderComponentAsync<Componentes.UltimosAñadidos>(RenderMode.ServerPrerendered))
	</div>

	<div style="width: 50%; padding: 20px;">
		@(await Html.RenderComponentAsync<Componentes.UltimasOfertas>(RenderMode.ServerPrerendered))
	</div>
</div>

