@page
@model IndexModel

@using Microsoft.AspNetCore.Builder;

@{
	ViewData["Title"] = "Home Page";
	Layout = "/Pages/Shared/_Layout.cshtml";
}

<div style="display: flex; flex-direction: row; align-items: flex-start; justify-content: space-between;">
	<div style="width: 50%;">
		@(await Html.RenderComponentAsync<Componentes.Portada.UltimosMinimos>(RenderMode.ServerPrerendered))

		<div style="margin: 50px;"></div>

		@(await Html.RenderComponentAsync<Componentes.Portada.UltimosAñadidos>(RenderMode.ServerPrerendered))
	</div>

	<div style="width: 50%;">

	</div>
</div>