@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "~/Areas/Identity/Pages/Account/Manage/_PerfilLayout.cshtml";
}

<div class="texto-info">@ViewData["Title"]</div>

<partial name="_StatusMessage" for="StatusMessage"/>

<div class="row perfil-espacio-adicional">
    <form id="change-password-form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="mb-3">
            <label asp-for="Input.OldPassword" class="texto-info-entrada"></label>
            <input asp-for="Input.OldPassword" class="entrada-texto" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Input.NewPassword" class="texto-info-entrada"></label>
            <input asp-for="Input.NewPassword" class="entrada-texto" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Input.ConfirmPassword" class="texto-info-entrada"></label>
            <input asp-for="Input.ConfirmPassword" class="entrada-texto" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="perfil-flexible">
            <div class="perfil-flexible-izquierda">
                <button type="submit" class="boton">Update password</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
