@page
@model IndexModel
@{
    ViewData["Title"] = "Steam Account";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "~/Areas/Identity/Pages/Account/Manage/_PerfilLayout.cshtml";
}

<div class="texto-info">@ViewData["Title"]</div>

@(await Html.RenderComponentAsync<pepeizqs_deals_web.Areas.Identity.Componentes.Steam>(RenderMode.ServerPrerendered))

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
