@page
@model pepeizqs_deals_web.Areas.Identity.Pages.Account.Manage.KeysModel
@{
    ViewData["Title"] = Herramientas.Idiomas.CogerCadena(Model.idioma, "Settings.String55");
    ViewData["ActivePage"] = ManageNavPages.Keys;
    Layout = "~/Areas/Identity/Pages/Account/Manage/_PerfilLayout.cshtml";
}

<div class="texto-info">@ViewData["Title"]</div>

@(await Html.RenderComponentAsync<pepeizqs_deals_web.Areas.Identity.Componentes.Claves>(RenderMode.ServerPrerendered, new { idioma = @Model.idioma }))

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
