@page
@model pepeizqs_deals_web.Areas.Identity.Pages.Account.Manage.NotificationsModel
@{
    ViewData["Title"] = Herramientas.Idiomas.CogerCadena(Model.idioma, "Settings.String53");
    ViewData["ActivePage"] = ManageNavPages.Notifications;
    Layout = "~/Areas/Identity/Pages/Account/Manage/_PerfilLayout.cshtml";
}

<div style="font-size: 20px; margin-bottom: 20px;">@ViewData["Title"]</div>

@(await Html.RenderComponentAsync<pepeizqs_deals_web.Areas.Identity.Componentes.NotificacionesCorreo>(RenderMode.ServerPrerendered, new { idioma = @Model.idioma }))

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
