@using Microsoft.AspNetCore.Identity;
@using pepeizqs_deals_web.Areas.Identity.Data;

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] • pepeizq's deals</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/maestro.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cabecera_cuerpo_pie.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/resto.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1b2838">
    <meta name="msapplication-TileColor" content="#1b2838">
    <meta name="theme-color" content="#ffffff">

    <base href="~/" />
    <component type="typeof(Juegos.Juego)" render-mode="ServerPrerendered" />

</head>

<body class="cuerpo">
    <header class="cabecera">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm" style="padding: 0px;">
            <div class="container">
                <div class="menu-dropdown">
                    <button class="texto-cabecera" style="border: 0px; margin-left: 0px; margin-right: 30px;"><i class="fa-solid fa-bars" style="font-size: 20px; line-height: 40px;"></i></button>
                    <div class="menu-dropdown-contenido">

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a class="texto-cabecera menu-dropdown-item" asp-page="/Wishlist">Wishlist</a>
                        }
                        
                        <a class="texto-cabecera menu-dropdown-item" asp-page="/HistoricalLow">Historical Lows</a>
                        <hr>
                        <a class="texto-cabecera menu-dropdown-item" asp-page="/Subscriptions">Subscriptions</a>
                        <hr>
                        <a class="texto-cabecera menu-dropdown-item" asp-page="/LastAdded">Last Added</a>
                    </div>
                </div>

                <a class="texto-logo" asp-area="" asp-page="/Index">pepeizq's deals</a>

                @*Resolucion pequeña*@
@*                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> *@

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="align-items: center;">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (await UsuarioCoger.RolDios(UserManager, User) == true)
                            {
                                <li class="nav-item" style="margin-right: 30px;">
                                    <div class="menu-dropdown">
                                        <button class="texto-cabecera" style="margin: 0px; border: 0px; color: var(--colorTextoVisitado); line-height: 20px;">Admin</button>
                                        <div class="menu-dropdown-contenido">
                                            <a class="texto-cabecera menu-dropdown-item" asp-page="/Admin/Juegos/Añadir">Añadir Juego</a>
                                            <a class="texto-cabecera menu-dropdown-item" asp-page="/Admin/Tiendas">Tiendas</a>
                                            <a class="texto-cabecera menu-dropdown-item" asp-page="/Admin/Pendientes">Pendientes</a>
                                            <hr>
                                            <a class="texto-cabecera menu-dropdown-item" asp-page="/Admin/Noticias">Noticias</a>
                                            <a class="texto-cabecera menu-dropdown-item" asp-page="/Admin/Suscripciones">Suscripciones</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        }

                        <li class="nav-item">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <i class="fa-solid fa-magnifying-glass" style="margin-right: 15px;"></i>
                                @(await Html.RenderComponentAsync<Componentes.Secciones.Buscador>(RenderMode.ServerPrerendered))
                            </div>
                        </li> 
                    </ul>
                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container cuerpo-espacio">
        @RenderBody()
    </main>

    <footer class="pie">
        <div class="container">
            &copy; 2018 - @DateTime.Now.Year.ToString() • pepeizq's deals • <a asp-page="/Privacy" class="texto-pie">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="_framework/blazor.server.js" autostart="false"></script>
    <script>
        Blazor.start().then(() => {
            Blazor.defaultReconnectionHandler._reconnectCallback = function (d) {
                document.location.reload();
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@* @section Scripts {
    <script src="~/_framework/blazor.server.js"></script>
} *@