@using Microsoft.AspNetCore.Identity
@using pepeizqs_deals_web.Areas.Identity.Data

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@{
    #nullable disable

    string idioma = Context.Request.Headers["Accept-Language"].ToString().Split(";").FirstOrDefault()?.Split(",").FirstOrDefault();

}

<ul class="navbar-nav" style="margin-top: 0px;">
    @if (SignInManager.IsSignedIn(User))
    {
        @(await Html.RenderComponentAsync<Componentes.Secciones.CabeceraUsuario>(RenderMode.ServerPrerendered, new { idioma = idioma }))
    }
    else
    {
        <li class="nav-item">
            <a class="texto-cabecera" id="login" asp-area="Identity" asp-page="/Account/Login">
                @Herramientas.Idiomas.CogerCadena(idioma, "Layout.Login")
            </a>
        </li>
        <li class="nav-item">
            <a class="texto-cabecera" id="register" asp-area="Identity" asp-page="/Account/Register">
                @Herramientas.Idiomas.CogerCadena(idioma, "Layout.Register")
            </a>
        </li>
    }
</ul>
