@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = Herramientas.Idiomas.CogerCadena(Model.idioma, "Settings.String14");
}

<div class="perfil">
    <div class="texto-info">@ViewData["Title"]</div>

    <hr>

    <div class="row">
        @if (Model.completado == true)
        {
            @Herramientas.Idiomas.CogerCadena(Model.idioma, "Settings.String15")
        }
        else
        {
            @Herramientas.Idiomas.CogerCadena(Model.idioma, "Settings.String16")
        }
     </div>    
</div>

