@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = Herramientas.Idiomas.CogerCadena(Model.idioma, "Settings.String11");
}

<div class="perfil">
    <div class="texto-info">@ViewData["Title"]</div>

    <hr>

    <div class="row">
        @if (Model.resultado.Succeeded == true)
        {
            @Herramientas.Idiomas.CogerCadena(Model.idioma, "Settings.String12")
        }
        else
        {
            @Herramientas.Idiomas.CogerCadena(Model.idioma, "Settings.String13")
        }
    </div>
</div>
