@inject SignInManager<Usuario> SignInManager

@{
	#nullable disable

	string idioma = Context.Request.Headers["Accept-Language"].ToString().Split(";").FirstOrDefault()?.Split(",").FirstOrDefault();

	Layout = "/Pages/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User) == false)
{
	<div class="row justify-content-center">
		<div class="carta-ancho">
			<div class="carta login-logout-card">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="texto-cabecera texto-cabecera-carta" href="/Identity/Account/Login">
								@Herramientas.Idiomas.CogerCadena(idioma, "Login", "Header")
							</a>
						</li>
						<li class="nav-item">
							<a class="texto-cabecera texto-cabecera-carta" href="/Identity/Account/Register">
								@Herramientas.Idiomas.CogerCadena(idioma, "Register", "Header")
							</a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<div class="row justify-content-center">
						<div class="col-10">
							@RenderBody()
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{

}

@section Scripts 
{
	@await RenderSectionAsync("Scripts", required: false)

	<script>
		// $(function () 
		// 	{
		// 		const paginaActual = location.pathname;

		// 		$('.nav-tabs li a').each(function () 
		// 		{
		// 			const $this = $(this);

		// 			if (paginaActual.toLowerCase().indexOf($this.attr('href').toLowerCase() != -1)
		// 			{
		// 				$this.addClass('active');
		// 			}
		// 		} )
		// 	}
		// )
	</script>
}