@{
	Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
	<div class="carta-ancho">
		<div class="carta login-logout-card">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item">
						<a class="texto-cabecera texto-cabecera-carta" href="/Identity/Account/Login">
							Login	
						</a>
					</li>
					<li class="nav-item">
						<a class="texto-cabecera texto-cabecera-carta" href="/Identity/Account/Register">
							Register
						</a>
					</li>
				</ul>
			</div>
			<div class="card-body">
				<div class="row justify-content-center">
					<div class="col-10">
						@RenderBody()
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts 
{
	@await RenderSectionAsync("Scripts", required: false)

	<script>
		//$(function () 
		//	{
		//		const paginaActual = location.pathname;

		//		$('.nav-tabs li a').each(function () 
		//		{
		//			const $this = $(this);

		//			if (paginaActual.toLowerCase().indexOf($this.attr('href').toLowerCase() != -1)
		//			{
		//				$this.addClass('active');
		//			}
		//		} )
		//	}
		//)
	</script>
}